.container {
    max-width: 800px;
}

.img-style {
	opacity: 0.9;
	width: 100%;
	height: auto;
	max-height: 490px;
	min-height: 278px;
	object-fit: fill;
}

.tab-main {
	padding: 30px;
}

.modal-main {
	margin-bottom: 30px;
}