.container {
    max-width: 800px;
}

.img-style {
	opacity: 0.9;
	width: 100%;
	height: auto;
	max-height: 490px;
	min-height: 490px;
	object-fit: cover;
}

.tab-main {
	padding: 30px;
}

.modal-main {
	margin-bottom: 30px;
}

@media (max-width: 992px) {
	.img-style {
		max-height: 490px;
		min-height: 490px;
		object-fit: cover;
	}
}

@media (max-width: 768px) {
	.img-style {
		max-height: 278px;
		min-height: 278px;
		object-fit: cover;
	}	
}
